@print { margin: 0.5in; } /* half-inch margin */
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

* {
  background: transparent; !important
  color: black;
  font-size: 12pt;
  font-family: 'Arvo', serif;
}

section{
  padding-bottom: .2in;
}

p {
  line-height: .1in;
}

img {
  display: none;
}

header h1 {
  font-size: 36pt;
  text-align: center;
  padding-bottom: .2in;
  margin: 0in;
}

h2 {
  font-size: 14pt;
  padding-bottom: 0in;
  margin: 0in;
}

h3, h4 {
  padding: 0in;
  margin: 0in;
}

h4, p strong {
  float: left;
  padding: 0in .2in 0in 0in;
}

h4::after {
content: "|";
padding-left: .2in;
}

.clear {
  clear: both;
}

h3, h4 {
  padding-top: .1in;
}

address {
  padding-top: 0in;
  text-align: center;
}

address p{
  font-style: normal;
  font-weight: bold;
}

address a {
  display: none;
}
p li {
  line-height: normal;
}

#contact h2 {
  display: none;
}

nav {
display: none;
}

#leadership-experience {
  display: none;
}

#about-me {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}
